<div class="container" id="cont">
    <!-- BUTTONS -->
    <div class="btn-group w-100">
        <button type="button" class="btn btn-outline-dark active my-profile">
            <span class="glyphicon glyphicon-user"></span>
            <!-- My profile -->
        </button>
        <button type="button" class="btn btn-outline-dark my-likes">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <!-- My likes -->
        </button>
        <button type="button" class="btn btn-outline-dark my-purchases">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <!-- My purchases -->
        </button>
    </div>

    <br>
    <br>

    <!-- PROFILE CONTENT -->
    <div class="my-profile-content">

        <form>
            <div class="form-group">
                <label>Nick</label>
                <input type="text" id="nick" class="form-control" placeholder="Nick..." readonly><br>

                <label>Email</label>
                <input type="text" id="email" class="form-control" placeholder="Email..." readonly><br>

                <label>Birthdate</label>
                <input type="text" class="form-control birthdate" id="datepicker" placeholder="Birthdate..."
                    readonly><br>

                <label>Province</label>
                <select class="form-control" id="province-select">
                    <option value="null">- Province -</option>
                </select><br>

                <label>Town</label>
                <select class="form-control" id="town-select" disabled>
                    <option>- Town -</option>
                </select><br>

                <label>Avatar</label>
                <div class="form-group" id="progress">
                    <div id="bar"></div>

                    <div id="percent">0%</div>
                </div>
                <div class="msg"></div>
                <br />
                <div id="dropzone" class="dropzone"></div><br />

            </div>

        </form>
        <button class="btn btn-outline-dark btn-block" id="update-profile">Update</button>
    </div>

    <!-- LIKES CONTENT -->
    <div class="my-likes-content" hidden>
        <div class="spinner-border text-dark" role="status"></div>
    </div>

    <!-- PURCHASE CONTENT -->
    <div class="my-purchases-content" hidden>
        <div class="spinner-border text-dark" role="status"></div>
    </div>
</div>